.board{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

.square{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--black); 
  font-weight: bold;
  font-size: large;
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.againButton{
  padding: 5px;
  margin: 18px;
  font-weight: bold;
  font-size: large;
  background-color: transparent;
  border: 2px solid var(--black);
  color: var(--black);
}